Django==5.2.3
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
django-jazzmin==3.0.1

# Auth & Users
python-dotenv==1.1.0
pytz==2025.2

# Email & OTP
django==5.2.3  # already above
requests==2.32.4

# Payment
stripe==12.2.0

# AI / HTTP requests
openai==1.99.6
httpx==0.28.1
google-genai==0.8.5
google-ai-generativelanguage==0.6.15
anthropic==0.61.0

# Utilities
pillow==11.2.1
PyJWT==2.9.0
regex==2025.7.34
